*{
    font-family: 'Roboto', sans-serif;
    transition: 1s;
}
body{
    margin: 0;
    padding: 0;
    background-image: url("./images/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}

#tsnote{
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    display: none;
}

#header{
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.button{
    width: 120px;
    height: 120px;
    border: 2px solid white;
    border-radius: 20px;
}

.rows{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
}

.segment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#gamelist{
    border: 4px solid white;
    margin: 20px;
}

.segment:hover{
    opacity: 0.7;
    transform: scale(1.2);
}
.segment:hover img{
border: 0.2rem solid rgb(0, 255, 34);
}

.footerclass{
    position: static;
}

h1{
    background-color: rgb(62, 62, 191);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#footer{
    background-color: rgb(19, 19, 19);
    height: 150px;
    width: 100%;
    text-align: center;
    padding-top: 6px;

}

.fa {
    padding: 6px 20px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 30%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  #socials{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #end{
    color: rgb(146, 146, 146);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-style: solid;
    border-width: 2px;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
    width: 96%;
    text-align: center;
    align-self: center;
    margin: 0 auto;
    padding: 2px;
    margin-top: 12px;
  }

  .footersec{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    color: black;
    font-family: 'Ubuntu', sans-serif;
  }


@media screen and (max-width: 769px){
    #header{
        display: none;
    }
    #gamelist{
        display: none;
    }
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    #tsnote{
        display: inherit;
    }
}